<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522273351311-rddkq1a0an62k3t1e8kec6ko3beqgk2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522273351311-rddkq1a0an62k3t1e8kec6ko3beqgk2c</string>
	<key>API_KEY</key>
	<string>AIzaSyA-JsJ54qIRZrvlyuBtz0thi75ilr1vYz4</string>
	<key>GCM_SENDER_ID</key>
	<string>522273351311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManageApp</string>
	<key>PROJECT_ID</key>
	<string>taskmanageapp48</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanageapp48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522273351311:ios:0780eb3a29704f6bb4f2fa</string>
</dict>
</plist>